@font-face {
    font-family: "indie-flower-normal";
    src: url(../fonts/indieflower-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

html, body
{
    height: 100%;
}

.page-wrapper
{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1
{
    font-size: 70px;
    font-family: "indie-flower-normal", 'Times New Roman', Times, serif;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.versusChoice
{
    display: flex;
    justify-content: space-evenly;
}

.versusChoice button
{
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 250px;
    height: 75px;
    margin: 30px;
    border: 3px solid black;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 3px;
    background-color: white;
    font-family: "indie-flower-normal", 'Times New Roman', Times, serif;
    font-size: 40px;
}

.versusChoice button:hover
{
    box-shadow: 3px 3px 3px rgb(145, 145, 145);
}

.winner-container
{
    height: 50px;
}

.winner-message
{
    font-family: "indie-flower-normal", 'Times New Roman', Times, serif;
    font-size: 32px;
}

.game-container
{
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    background-color: black;
}

.game-container div
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    font-family: "indie-flower-normal", 'Times New Roman', Times, serif;
}

.game-square-ai-move
{
    font-size: 90px !important;
    transition: font-size 1s;
}

.buttons-container
{
    height: 50px;
    margin-top: 20px;
}

.new-game-button
{
    display: block;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-family: "indie-flower-normal", 'Times New Roman', Times, serif;
    font-size: 30px;
    border-radius: 3px;
}